{{#each this}}
<li class="glide__slide--elem footer-modal__card">
<div class="modal team-member-modal">
  <ul class="team-member-modal__content">
    <li>
      <img class="team-member-modal__photo" src="{{img}}" alt="img" />
      <h2 class="team-member-modal__name">{{name}}</h2>
      <p class="team-member-modal__position">{{role}}</p>

      <ul class="socials-list">
        <li class="socials-list__item">
          <a href="{{gitHubLink}}" class="socials-list__link">
            <i class="socials-list__icon"></i>
          </a>
        </li>
        <li class="socials-list__item">
          <a href="facebookLink" class="socials-list__link">
            <i class="socials-list__icon"></i>
          </a>
        </li>
        <li class="socials-list__item">
          <a href="linkedInLink" class="socials-list__link">
            <i class="socials-list__icon"></i>
          </a>
        </li>
      </ul>
      <p class="team-member-modal__comment">{{discription}}</p>
    </li>
  </ul>
  <button class="team-member-modal__close-btn" data-footer="close">Close</button>
</div>
</li>
{{/each}}